{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}

<h1 class="display-4">Voici tous les articles</h1>


<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    {{ form_start(form) }}
                        <h6>Inscris-toi à la newsletter pour être averti des nouveaux articles !</h6>
                        <div class="input-group">
                            {{form_row(form.email)}}
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Abonnez-vous maintenant</button>
                            </span>
                        </div>
                    {{ form_end(form) }}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container mt-4">
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6">
            {% include "article/_article.html.twig" %}
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(articles) }}
    </div>
</div>


{% endblock %}